.form-select {
  background-color: transparent;
  border: 1px solid #2e396e;
  color: #979ec1;
}


.mt10 {
  margin-top: 10px
}

.colorWhite {
  color: #E4E6EF
}

.cardStyle-properties {
  background-color: transparent;
  height: 4rem;
  border: 1px solid #2e396e;
  color: #979ec1;
}

.cardStyleActive {
  border: 1px solid #2e396e;
  background-color: #1b2142;
}

.cardStyle {
  background-color: #161b47;
  border-color: #2e396e !important;
}

.width33 {
  width: 33.33%;
}

.width50 {
  width: 50%;
}

.minWidth20 {
  min-width: 20%;
}

.fontSize14 {
  font-size: 14px;
}