.btn-active {
  color: #E4E6EF !important;
  background-color: #bf8139;
  font-weight: bold;
}

.wrapper {
  margin-left: 1em;
  margin-right: 1em;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 3em;
  grid-column-gap: 1em;
}

.form-select {
  background-color: transparent;
  border: 1px solid #2e396e;
  color: #979ec1;
}

.fontSize14 {
  font-size: 14px;
}

.fontSize12 {
  font-size: 12px;
}

.fontSize16 {
  font-size: 16px;
}

.inactiveColor {
  color: #233fcf;
}

.layout {
  background-color: #0e133a;
  height: 100vh;
}

.navBorder {
  border-color: #2e396e !important;
}

.logo {
  height: 56px;
  width: 150px;
}

.toggleBtn {
  height: 35px;
  width: 100px;
  color: #E4E6EF
}

.exerciseBtn {
  border: 1px solid #E4E6EF;
  color: #E4E6EF;
  width: 120px
}

.chartDiv {
  border-radius: 0;
  background-color: #0e133a;
}

.outputDiv {
  background-color: #0e133a;
}

.outputSubDiv {
  background-color: transparent;
}

.outputHeaderBackground {
  background-color: transparent;
  height: 4rem;
  border: 1px solid #2e396e;
  color: #979ec1;
}

.section {
  background-color: #161b47;
  border-color: #2e396e !important;
}

.outputGraphHeader {
  font-size: 20px;
  letter-spacing: 1px;
  font-weight: bold;
}

.outputChartDiv {
  border: 1px solid #2e396e;
  background-color: #1b2142;
}

.tableDiv {
  height: 32rem;
  overflow-y: scroll;
  background-color: #212854
}

.tableColor {
  border-color: #2e396e !important;
}

.tableHeaderText {
  background-color: transparent !important;
  letter-spacing: 1px;
  color: #979ec1;
}

.rangeSection {
  margin-top: 1rem;
  background-color: transparent;
}

.rangeSectionHead {
  background-color: transparent;
  height: 4rem;
  border: 1px solid #2e396e;
  color: #979ec1;
}

.rangeSectionSubHead {
  font-size: 20px;
  letter-spacing: 1px;
  font-weight: bold;
}

.feedText {
  padding: 2rem 3rem 2rem 3rem;
  border-radius: 5px;
  background-color: #0e133a;
}

.selectConfigText {
  background-color: #1b2142;
  color: #979ec1;
  border-color: #2e396e !important;
}

.tableContentText {
  background-color: #1b2142;
  color: #979ec1;
}

.w-30 {
  width: 30%
}

.w-40 {
  width: 40%;
  display: inline;
}

.maxCompo {
  display: inline;
  width: 100%;
  accent-color: #459bdc;
}

.loader1 {
  top: 50%;
  left: 45%;
  position: absolute;
  color: #bf8139;
  width: 50px;
  height: 50px
}

.loader2 {
  width: 100vw;
  height: 100vw;
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 100;
  opacity: 0.2;
  background-color: black;
}

.footer {
  background-color: #1b2142;
  height: 5rem;
  color: #979ec1;
}